<div class="container">
  
    <h2>Chronometre</h2>
    <div>//TIME</div>
    <button class="btn btn-outline-info">Start</button>
    <button class="btn btn-outline-secondary">Continue</button>
    <button class="btn btn-outline-secondary">Delete</button>
    <div class="d-flex justify-content-center">
      <table>
        <thead>
          <td><button class="btn btn-outline-info btn-sm">+/-</button></td>
          <th>Durée</th>
          <th>Note</th>
        </thead>
        <tbody>
          <td><button class="btn btn-outline-info btn-sm">x</button></td>
          <td>//TIME</td>
          <td><input type="text"></td>
        </tbody>
    </table>

</div>