/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
    text-align: center;
}
* {
    margin-bottom: 20px;
    color: lightslategray;
}
.container {
    margin-top: 100px;
}
table {
    margin: 10px;
    border: 1px solid #4a4a44;
}
thead {
    background-color: lightcyan;
    
}
td, th  {
    padding: 10px;
}
.btn-outline-secondary {
    //display: none;
}